@font-face {
	font-family: "Roboto Regular";
	src: url("../fonts/roboto-regular/roboto-regular.eot"); /* IE9 Compat Modes */
	src: url("../fonts/roboto-regular/roboto-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/roboto-regular/roboto-regular.otf") format("opentype"), /* Open Type Font */
		url("../fonts/roboto-regular/roboto-regular.svg") format("svg"), /* Legacy iOS */
		url("../fonts/roboto-regular/roboto-regular.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/roboto-regular/roboto-regular.woff") format("woff"), /* Modern Browsers */
		url("../fonts/roboto-regular/roboto-regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
